<h1>Messages</h1>

<div ng-controller="MessageCtrl">
  <form>
    <input type="text" ng-model="newMessage.text">
  </form>

    <p ng-repeat="message in messages">
    {{message.text}}
    </p>
</div>

