<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Thank you for signing up! Following is the information you provided:</h3>
    <p>User Name: <%= @user.username %></p>
    <p>Handle: <%= @user.handle %></p>
    <p>Email: <%= @user.email %></p>
  </body>
</html>