<!DOCTYPE html>
  <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New User</h1>
      <p>Someone has signed up for Fritter!</p>
      <p><%= @user.username %><br/> 
      <%= @user.handle %><br/>
      <%= @user.email %><br/>
      </p>
</body>
</html>
