@import "bootstrap";

/* universal */

.container {
  padding-top: 10px;
  width: 800px;
  margin: 0 auto;
  height: 1000px;
  background-color: #f6f6f6;
}

body {
  background-color: red;
}

form.form-inline {
  padding-left: 1px;
  margin-left: 15px;
  padding-top: 13px;
  background-color: #00008B;
  height: 60px;
}

input#message-fweet {
  width: 648px;
}

#add-message.btn {
  background-color: orange;
  color: white;
  margin-bottom: 10px;
}

div.user {
  padding-left: 32px;
  padding-bottom: 10px;
  height: 25px;
}