@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400);
@import url(https://fonts.googleapis.com/css?family=Courgette);

/* universal */

nav#outside {
  background-color: black;
  height: 40px;
}

a.inside {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

a.link {
  color: #82CC36;
}

div.nav.container {
  width: 900px;
  background-color: black;
  height: 40px;
}

div.container {
  padding-top: 5px;
  margin-top: 80px;
  width: 900px;
  margin: 0 auto;
  border-radius: 5px;
}

div.text {
  margin-top: 60px;
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 10px;
}

#fancy {
  font-family: 'Courgette', cursive;
  text-align: center;
}

body {
  background-color: #7F0000;
}

div.col-md-12, div.col-md-6 {
  margin-top: 60px;
  padding-left: 0;
}

span#error {
  margin-left: 15px;
  margin-bottom: 0;
  color: red;
}

.error {
  color: #82CC36;
}

.error-registration {
  color: #82CC36;
  margin-left: 0;
}

div#login {
  padding-left: 0;
}

a.ng-binding {
  margin-left: 0;
  padding-left: 0;
}

div.collapse.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

form#messagesForm.form-inline {
  padding-top: 9px;
  margin-bottom: 5px;
  margin-top: 2px;
  background-color: #e6e6e6;
  height: 50px;
  width: 630px;
  border-radius: 5px;
}

input#message-fweet {
  padding-top: 9px;
  margin-bottom: 0;
  width: 550px;
}

input#message-fweet.form-control.ng-pristine.ng-untouched.ng-valid {
  color: #7F0000;  
}

input.form-control {
  margin-bottom: 5px;
}

button#message {
  margin-top: 0;
}

div.user {
  padding-left: 32px;
  padding-bottom: 10px;
  height: 25px;
}

input.btn {
  background-color: black;
  color: white;
  margin-bottom: 2px;
}

div.info {
  float: left;
  width: 25%;
}

div.fweet {
  margin-left: 25%;
  margin-top: 60px;
  margin-right: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 0;
  width: 650px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

button#message {
  margin-left: 3px;
}

ul.ng-scope {
  padding-left: 5px;
  width: 625px;
}

p.ng-binding {
  padding-bottom: 0;
  margin-bottom: 0;
}

p#fweet-end {
  margin-right: 0;
  border-bottom: solid #d3d3d3;
  border-width:thin;
  width: 100%  
}

span#username {
  font-weight: bold;
}

span#remainder {
  color: grey;
}

.user-box {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.users-box {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  width: 200px;
  background-color: #f6f6f6;
  border-radius: 5px;
  ul.ng-scope {
    padding-left: 0;
    margin-left: 0;
  }
  p {
    margin: 0;
  }
}
