@import "bootstrap";

/* universal */

div.container {
  margin-top: 100px;
  width: 800px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

body {
  background-color: #7F0000;
}

span.error {
  margin-left: 15px;
  margin-bottom: 0;
}

.error {
  color: red;
}

.error-registration {
  color: red;
  margin-left: 0;
}

div#login {
  padding-left: 0;
}

a.ng-binding {
  margin-left: 0;
  padding-left: 0;
}

div.collapse.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

form#messagesForm.form-inline {
  padding-left: 1px;
  margin-left: 15px;
  padding-top: 8px;
  background-color: #e6e6e6;
  height: 50px;
}

input#message-fweet {
  width: 648px;
}

input#message-fweet.form-control.ng-pristine.ng-untouched.ng-valid {
  color: #7F0000;  
}

input.form-control {
  margin-bottom: 5px;
}

#add-message.btn {
  background-color: orange;
  color: white;
  margin-bottom: 10px;
}

div.user {
  padding-left: 32px;
  padding-bottom: 10px;
  height: 25px;
}

input.btn {
  background-color: black;
  color: white;
  margin-bottom: 2px;
}

div.fweet {
  margin-right: 0;
  width: 725px;
}

ul.ng-scope {
  padding-left: 0;
}

p.ng-binding {
  padding-bottom: 0;
  margin-bottom: 0;
}

p#fweet-end {
  margin-right: 0;
  border-bottom: solid #d3d3d3;
  border-width:thin;  
}

span#username {
  font-weight: bold;
}

span#remainder {
  color: grey;
}

.user-box {
  position: fixed;
  padding-left: 10px;
  margin-top: 100px;
  margin-left: 10px;
  top: 0;
  left: 0;
  width: 200px;
  height: 180px;
  background-color: white;
}
