<div ng-hide="user" class="text">
  <h3>What is Fritter?</h3>
  <p>Fritter mimics the basic functionality of Twitter. Similar to Twitter, users can post "freets" or messages, follower / unfollow other users and see their freets.</p>

  <h3>So, what's under the hood?</h3>
  <p>Thanks for asking! Fritter is an Angular on Rails app, which means I constructed an API using Ruby on Rails which is consumed by AngularJS. I used Bower to handle front-end dependencies including AngularJS, Moment.js to convert time to a readable format from JavaScript and AngularDevise for user authentication. I used the Mailchimp API for user signup confirmation emails. See the code <a class="link" href="https://github.com/JeffStringer/fritter">here</a>.</p>
</div>