<h3>What to Expect</h3>
<p>Fritter mimics the basic functionality of Twitter. Upon signing up, users receive a confirmation email. Similar to Twitter, users can post "freets", follower other users and see their freets.</p>

<h3>Yeah, but what's under the hood?</h3>
<p>Thanks for asking! Fritter is an Angular on Rails app, which means I constructed an API using Ruby on Rails and AngularJS consumes the API. I used Bower to handle front-end dependencies which includes AngularJS, Moment.js to convert time to a readable format from JavaScript, and AngularDevise for user authentication. I used the Mailchimp API for user signup confirmation emails.</p>