<div class="col-md-12">
  <span ng-repeat="item in filtered = (errors | filter:query)">
    <span class="error-registration" >{{item.error}}</span>
  </span>
  <form name="form" ng-submit="login()" novalidate>
    <div class="row" class="form-group">
      <div class="col-sm-4">
        <div class="error" ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uEmail.$error.required">Please enter your email.</span>
          <span ng-show="form.uEmail.$error.email">Please enter a valid email.</span>
        </div>
          <input type="email" class="form-control" placeholder="Email" ng-model="user.email" name="uEmail" required="">
      </div>  
    </div>
    <div class="row" class="form-group">
      <div class="col-sm-4">
        <div class="error" ng-show="form.$submitted || form.uPassword.$touched">
          <span ng-show="form.uPassword.$error.required">Please enter your password.</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" name="uPassword" required="">
      </div>  
    </div>
    <input type="submit" class="btn btn-default" value="Log In">
  </form>
</div>  