<div class="col-md-12">
  <form id="messages-form" ng-submit="addMessage()" class="form-inline" role="form">
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="form-group">
      <input type="text" ng-model="MessagesFactory.message" class="form-control" id="message-fweet" placeholder="What's happening?">
      <input type="hidden" ng-model="MessagesFactory.now"/>
    </div>
  </form>
  <div class="col-md-12">
    <h2>Fweets</h2>
      <div class="fweet">
        <ul ng-repeat="item in filtered = (messages | filter:query)">
          <p>{{item.user.username}} @{{item.user.handle}} {{item.now}}</p>
          <p id="fweet-end">{{item.fweet}}</p>
        </ul>
      </div>
  </div>
</div>