<div class="col-md-12">
  <form ng-submit="addMessage()" class="form-inline" role="form">
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="form-group">
      <input type="text" ng-model="MessagesFactory.message" class="form-control" id="message-fweet" placeholder="What's happening?">
    </div>
  </form>
  <div class="col-md-12">
    <h2 ng-show="messages.length && filtered.length">Fweets</h2>
    <h2 ng-show="messages.length && !filtered.length">No Matches</h2>
      <p ng-repeat="item in filtered = (messages | filter:query)">
        <span>{{item.fweet}}, {{item.created_at}}</span>
      </p>
  </div>
</div>

