<div class="col-md-12">
  <span ng-repeat="item in filtered = (errors | filter:query)">
    <span class="error">{{item.error}}</span>
  </span>
  <form id="messagesForm" ng-submit="addMessage()" class="form-inline" role="form" novalidate>
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="form-group">
      <input type="text" name="message" ng-model="MessagesFactory.message" class="form-control" id="message-fweet" placeholder="What's happening?">
    </div>
  </form>
  <div class="col-md-12">
    <h2>Fweets</h2>
      <div class="fweet">
        <ul ng-repeat="item in filtered = (messages | filter:query)">
          <p><span id="username">{{item.user.username}}</span><span id="remainder"> @{{item.user.handle}} * {{item.now}}</span></p>
          <p id="fweet-end">{{item.fweet}}</p>
        </ul>
      </div>
  </div>
</div>