<div class="col-md-12" id="login">
  <div class="collapse navbar-collapse pull-left" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <p id="logged-in" ng-show="signedIn()"><a href="#/">Logged in as {{user.username}}</a></p>
    </ul>
  </div>
  <div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <ul><a href="#/">Home</a></ul>
      <ul ng-hide="signedIn()"><a href="#/login">Log In</a></ul>
      <ul ng-hide="signedIn()"><a href="#/signup">Sign Up</a></ul>
      <ul ng-show="signedIn()"><a href="" ng-click="logout()">Log Out</a></ul>
    </ul>
  </div>
</div>