 <div class="col-md-12">
   <span ng-repeat="item in filtered = (errors | filter:query)">
    <span class="error-registration">
    {{item.error}}<br/>
    </span>
  </span>
  <form name="form" ng-submit="register()" novalidate>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <div class="error" ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uEmail.$error.required">Please enter your email.</span>
          <span ng-show="form.uEmail.$error.email">Please enter a valid email.</span>
        </div>
        <input type="email" class="form-control" placeholder="Email" ng-model="user.email" name="uEmail" required="">
      </div>  
    </div>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <div class="error" ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uName.$error.required">Please enter your username.</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username" name="uName" required="">
      </div>  
    </div>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <div class="error" ng-show="form.$submitted || form.uHandle.$touched">
          <span ng-show="form.uHandle.$error.required">Please enter a handle.</span>
        </div>
        <input type="text" class="form-control" placeholder="Handle" ng-model="user.handle" name="uHandle" required="" >
      </div>  
    </div>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <div class="error" ng-show="form.$submitted || form.uPassword.$touched">
          <span ng-show="form.$submitted && user.password !== user.password_confirmation">Password and confirmation do not match.</span>
          <span ng-show="form.uPassword.$error.required">Please enter a password.</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" name="uPassword" required="">
      </div>  
    </div>
    <div class="row" class="form-group">
      <div class="col-sm-6">
        <div class="error" ng-show="form.$submitted || form.uPasswordConf.$touched">
          <span ng-show="form.uPasswordConf.$error.required">Please enter password confirmation.</span>
        </div>
        <input type="password" class="form-control" placeholder="Password Confirmation" ng-model="user.password_confirmation" name="uPasswordConf" required="">
      </div>  
    </div>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>  