<!DOCTYPE html>
<html ng-app="Fritter">
<head>
  <title>Fritter</title>
    <%= stylesheet_link_tag  'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <div ng-include="'Navigation.html'"></div>
    </div>
    <div class="container">
      <%= yield %>
    </div> 
  </body>
</html>
